<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/aboutMe.css">
        <script src="../scripts/main.js"></script> 
        <title>About-Me</title>
    </head>
    <body onload = "load('aboutMe')" >
        <div id="aboutContainer">
            <div id="pro">
                <img id="profile" src="../images/Profile.jpg" alt="">
            </div>
            <div id="textcontainer">
                <div id="mainText">
                    <p>Hi, my name is Caleb Eng.</p>
                    I am a Computer Science graduate from Toronto Metropolitan University, formerly known as Ryerson University.
                    Looking for new opportunities to grow and expand my current skillset. I'm familiar with Python and Java and have some 
                    additional experience working with JavaScript, CSS, HTML, PHP, SQL databases, and C#. Passionate about the advancements of the world of technology.
                </div>
                
                <div id="secondary">
                In my free time I enjoy gaming, skiing and bouldering.
                I also like to dabble in digital art, animation, and videography.
                </div>
        </div>
        
                <div class="slideshowContainer">
                    <div class ="slides">
                        <div class="numberText">1/7</div>
                        <img class="slideshow"  src = "../images/part1.png" alt="">
                    </div>
                    <div class ="slides">
                        <div class="numberText">2/7</div>
                        <img class="slideshow"  src = "../images/part2.png" alt="">
                    </div>
                        <div class ="slides">
                        <div class="numberText">3/7</div>
                        <img class="slideshow"  src = "../images/part3.png" alt="">
                    </div>
                    <div class ="slides">
                        <div class="numberText">4/7</div>
                        <img class="slideshow"  src = "../images/part4.png" alt="">
                    </div>
                    <div class ="slides">
                        <div class="numberText">5/7</div>
                        <img class="slideshow"  src = "../images/part5.png" alt="">
                    </div>
                    <div class ="slides">
                        <div class="numberText">6/7</div>
                        <img class="slideshow"  src = "../images/part6.png" alt="">
                    </div>
                    <div class ="slides">
                        <div class="numberText">7/7</div>
                        <img class="slideshow"  src = "../images/part7.png" alt="">
                    </div>
                </div>
            </div>
        </body>
    </body>
</html>