<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/aboutMe.css">
        <script src="../scripts/main.js"></script> 
        <title>About-Me</title>
    </head>
    <body>
        <div id="aboutContainer">
            <div id="pro">
                <img id="profile" src="../images/Profile.jpg" alt="">
            </div>
            <div id="mainText">
                <p>Hi, my name is Caleb Eng.</p>
                I am a Computer Science graduate from Toronto Metropolitan University, formerly known as Ryerson University.
                Looking for new opportunities to grow and expand my current skillset. I'm familiar with Python and Java and have some 
                additional experience working with JavaScript, CSS, HTML, PHP, SQL databases, and C#. Passionate about the advancements of the world of technology.
            </div>
        </div>
        
        <div>
            <p></p>
        </div>
        </body>
    </body>
</html>