<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/home.css">
        <script src="../scripts/main.js"></script> 
        <title>Home</title>
    </head>
    <body onload = "displayTime()">
        <div id="time"></div>
        <div id="links">
            <nav>
                <ul class ="nav-buttons">
                    <li><a href="https://www.linkedin.com/in/caleb-eng/" target="_blank" rel="noopener">Linkedin</a></li>
                    <li><a href="https://github.com/calebeng" target="_blank" rel="noopener">GitHub</a></li>
                    <li><a href="mailto:caleb_eng@rogers.com">Email</a></li>
                </ul>
            </nav>
        </div>
    </body>
</html>