<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../styles/projects.css">
        <script src="../scripts/main.js"></script> 
        <title>Projects</title>
    </head>

    <body>
        <div id="projectsContainer">
            <div class="mainText">
                <h2><a href="https://github.com/CalebEng/Emotion-Detection-CPS-843-Project-" target="_blank" rel="noopener">Emotion Detection Program</a></h2>
                <h3>CPS-843 (Computer Vision) | Fall 2024</h3>
            </div>

            <div class="mainText">
                <h2><a href="https://github.com/CalebEng/Silverlight-bot" target="_blank" rel="noopener">Discord Bot</a></h2>
                <h3>July 2023 - Present</h3>
            </div>
        </div>
    </body>
</html>