@font-face{
    font-family: 'Interceptor';
    src: url('../fonts/Interceptor.otf') format('opentype');
}
@font-face{
    font-family: 'Interceptor';
    src: url('../fonts/Interceptor\ Italic.otf') format('opentype');
}
@font-face{
    font-family: 'Interceptor';
    src: url('../fonts/Interceptor\ Bold.otf') format('opentype');
}

body{
    font-family: 'Lato', sans-serif;
}
#pro{
    width:210px;
    height:210px;
    overflow: hidden;
    border:2px solid;
    border-radius: 50%;
    flex-shrink: 0;
}

#profile{
    width: 100%;
    height: auto;
    border:1px;
    object-fit: cover;
    object-position: top center;
}
.mainText{
    width: 45vw;
    height: auto;
    background: rgb(237, 237, 237);
    border: 1px solid grey;
    margin: 10px;
    padding: 30px;
    font-size:18px;
}
#secondary{
    width: 45vw;
    height: auto;
    background: rgb(237, 237, 237);
    border: 1px solid grey;
    margin: 10px;
    padding: 30px;
    font-size:18px; 
}
#aboutContainer{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    flex-wrap: wrap;
}
#textcontainer{
    display:flex;
    flex-direction: column;
    min-width: 300px;
}
.slideshowContainer {
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-shrink: 0;
}
.slides{
    display:none;
    position: relative;
    text-align:center;
}
.slideshow{
    width:auto;
    height:550px;
    object-fit:cover;
}

.numberText {
    position: absolute;
    color: #000000;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

hr{
    border: 1px solid black; 
    width: 100%; 
    margin: 20px auto;
}

a{
    text-decoration: underline;
    color:black;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
a:hover{
    background-color: #7e7e7e;
}