@font-face{
    font-family: 'Interceptor';
    src: url('../fonts/Interceptor.otf') format('opentype');
}
@font-face{
    font-family: 'Interceptor';
    src: url('../fonts/Interceptor\ Italic.otf') format('opentype');
}
@font-face{
    font-family: 'Interceptor';
    src: url('../fonts/Interceptor\ Bold.otf') format('opentype');
}
#time{
    font-family: 'Interceptor',sans-serif;
    display:flex;
    font-style: italic;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    font-size: 80px;
    height: 90vh;
}